﻿<div class="qveventlogconnectdialogcontainer">
	<div class="qveventlogconnectdialog" qv-global-escape="onEscape()">
		<h1>Подключиться к AmoCRM</h1>
		
	    <div class="main">
	        <input type="text" ng-model="name" placeholder="Имя соединения" />
	        <input type="text" ng-model="yandexLogin" ng-change="rebuildCS()" placeholder="Логин Yandex`а" />
            <button style="text-align: right;" ng-click="onGetToken()">Получить токен</button>
            <input type="text" ng-model="token" ng-change="rebuildCS()" placeholder="Токен" />
	        <br/>
	    </div>
        
	    <div class="connectionInfo" ng-class="{'success': connectionSuccessful}">{{connectionInfo}}</div>
        <br/>
	    <div>
	        Чтобы получить лицензионный ключ, напишите письмо на mng@logika25.ru, или позвоните по телефону 8 (924) 730 12 33
	    </div>
        
	    <div class="footer">
			<button ng-click="onCancelClicked()">Отмена</button>
			<button ng-click="onTestConnectionClicked()">Проверить подключение</button>
            <button ng-click="onOKClicked()" ng-disabled="isOkEnabled()" q-translation="{{saveButtonText}}">Ok</button>
		</div>
	</div>
</div>
